<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <script>
        function pairMe(name) {
            txtBox = document.getElementsByName('name')[0]
            var name2 = txtBox.value;
            var request = new XMLHttpRequest();
            request.open('POST', "/api/pairme", true);
            request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            request.onload = function(){
                txtBox.value = ''
                location.reload();
            };
            request.send(JSON.stringify({
                "name1": name,
                "name2": name2
            }));
        }
    </script>

    <title>Hello, world!</title>
</head>
<body class="m-3">
<div class="container-fluid">
    <div class="jumbotron jumbotron" class="rounded">
        <div class="container">
            <h1 class="display-4"><img src="/images/aspect.png">Aspect Ping-pong-atron</h1>
            {% if current_game %}
                <p class="lead">Currently playing: {{ current_game }} </p>
                <p>Started playing at: {{ start_time }} </p>
                <form action="/api/finished" method="post">
                    <button class="btn btn-primary" type="submit">Game over</button>
                </form>
            {% else %}
                <p class="lead">No one is playing..</p>
                <form action="/api/quickbook" method="post">
                    <button class="btn btn-success" type="submit">Play now!</button>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="column col-sm-6">
            <h1>Have a partner?</h1>
            <form action="/api/add" method="post">
                <div class="form-group">
                    <label>Join the queue..</label>
                    <input class="form-control" name="match" placeholder="Enter match" type="text">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <br>
            <h2>Current queue:</h2>
            {% if queue %}
            <ul class="list-group">
                {% for val in queue %}
                <li class="list-group-item" {% if loop.first %}style="background-color:LightGreen" {% endif %}>
                    <a class="mr-3" href="/api/delete/{{val}}">
                        <i class="fa fa-trash-o fa-1g" style="color:red"></i>
                    </a>{% if loop.first %}<span style="font-weight:bold">Next up: </span>{% endif %} {{ val }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No one is waiting!</p>
            {% endif %}
        </div>
        <div class="column col-sm-6">
            <h1>Need a partner?</h1>
            <form action="/api/needpartner" method="post">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="name" placeholder="Enter name" type="text">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <br>
            <h2>Looking for partners:</h2>
            {% if looking_for_partners %}
            <div class="list-group">
                {% for val in looking_for_partners %}
                <button class="list-group-item list-group-item-action" onclick="pairMe('{{ val }}')" type="button">
                    <a class="mr-3" href="/api/deletelooking/{{val}}">
                        <i class="fa fa-trash-o fa-1g" style="color:red"></i>
                    </a>{{ val }}
                </button>
                {% endfor %}
            </div>
            {% else %}
            <p>All paired up!</p>
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>