<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

    <script>
        function pairMe(name) {
            txtBox = document.getElementsByName('name')[0]
            var request = new XMLHttpRequest();
            request.open('POST', '/api/pair', true);
            request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            request.onload = function() {
                txtBox.value = '';
                location.reload();
            };
            request.send(JSON.stringify({
                'name1': name,
                'name2': txtBox.value
            }));
        }

        function httpDelete(path, body) {
            var request = new XMLHttpRequest();
            request.open('DELETE', path, true);
            request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            request.onload = function() {
                location.reload();
            };
            request.send('{}');
        }

        function deletePlayer(name) {
            httpDelete('/api/player/'+name);
        }

        function deleteMatch(name) {
            httpDelete('/api/match/'+name);
        }
    </script>

    <title>Aspect Ping-pong-atron</title>
</head>
<body class="m-3">
<div class="container-fluid">
    <div class="jumbotron jumbotron" class="rounded">
        <div class="container">
            <h1 class="display-4"><img src="/static/images/aspect.png">Aspect Ping-pong-atron</h1>
            {% if current_game %}
            <p class="lead">Currently playing: {{ current_game }} </p>
            <p>Started playing at: {{ start_time }} </p>
            <form action="/api/finished" method="post">
                <button class="btn btn-primary" type="submit">Game over</button>
            </form>
            {% else %}
            <p class="lead">No one is playing..</p>
            <form action="/api/quickbook" method="post">
                <button class="btn btn-success" type="submit">Play now!</button>
            </form>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="column col-sm-6">
            <h1>Have a partner?</h1>
            <form class="input-group mb-3" action="/api/match" method="post">
                <input type="text" class="form-control" placeholder="Join the queue.." name="match">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-plus fa-1g"></i>
                    </button>
                </div>
            </form>
            <h2>Current queue:</h2>
            {% if queue %}
            <ul class="list-group">
                {% for val in queue %}
                <div class="btn-group" style="width=100%">
                    <button class="btn btn-danger" onclick="deleteMatch('{{ val }}')" type="button">
                        <i class="fa fa-trash-o fa-1g"></i>
                    </button>
                    <button class="btn {% if loop.first %} btn-success {% else %} btn-light {% endif %} text-left"
                            type="button" style="width:100%" disabled>
                        {% if loop.first %}
                        <span style="font-weight:bold">Next up: </span>
                        {% endif %} {{ val }}
                    </button>
                </div>
                {% endfor %}
            </ul>
            {% else %}
            <p>No one is waiting!</p>
            {% endif %}
        </div>
        <div class="column col-sm-6">
            <h1>Need a partner?</h1>
            <form class="input-group mb-3" action="/api/player" method="post">
                <input type="text" class="form-control" placeholder="Enter name.." name="name">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-plus fa-1g"></i>
                    </button>
                </div>
            </form>
            <h2>Looking for partners:</h2>
            {% if looking_for_partners %}
            <div class="list-group">
                {% for val in looking_for_partners %}
                <div class="btn-group" style="width=100%">
                    <button class="btn btn-danger" onclick="deletePlayer('{{ val }}')" type="button">
                        <i class="fa fa-trash-o fa-1g"></i>
                    </button>
                    <button class="btn btn-light text-left" onclick="pairMe('{{ val }}')" type="button"
                            style="width:100%">
                        {{ val }}
                    </button>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>All paired up!</p>
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>